body {
  background: var(--white);
  font-style: normal;
  font-family: var(--font-main);
  width: 1600px;
  margin: 0;
  padding: 0;
  color: var(--black-main);
}

:root {
  --font-main: "Roboto", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  --black-main: #212121;
  --white: #ffffff;
  --blue: #2196f3;
  --gray: #757575;
  --light-gray: rgba(255, 255, 255, 0.6);
  --comment-color: rgba(117, 117, 117, 0.5);
  --bg-LightGray: #f5f4fa;
  --bg-TransparentBlack: rgba(47, 48, 58, 0.8);
  --bg-overlay: rgba(33, 150, 243, 0.9);
  --bg-footer: #2f303a;
  --bg-foter-icon: rgba(255, 255, 255, 0.1);
  --shadows-1: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --shadows-2: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --shadows-overlay: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadows-category: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --shadows-ButtonDesign: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --header-border: #ececec;
  --category-border: #eeeeee;
  --foter-input-border: rgba(255, 255, 255, 0.3);
  --close-btn-border: rgba(0, 0, 0, 0.1);
  --modal-border: rgba(33, 33, 33, 0.2);
  --fill-gray: #afb1b8;
}

:hover,
:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
}

li {
  list-style-type: none;
}

/* ======HEADER======== */

.header {
  width: 1600px;
  border: 1px solid var(--header-border);
}

.container {
  display: flex;
  align-items: center;
  width: 1200px;
}

header .container {
  justify-content: space-between;
  margin: 0 auto;
}

.navigation {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--black-main);
  text-decoration: none;
  margin: 24px 93px 25px 0px;
}

.logo--web {
  color: var(--blue);
}

.navigation__item {
  margin-top: 32px;
  margin-bottom: 32px;
}

.navigation__item:not(:last-child) {
  margin-right: 46px;
}

.navigation__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-main);
}

.navigation__link--contacts {
  color: var(--gray);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--blue);
}

.navigation__link--agency {
  position: relative;
}

.navigation__link--agency::after {
  content: "";
  position: absolute;
  width: 53px;
  height: 4px;
  background: var(--blue);
  border-radius: 2px;
  top: 45px;
  left: 0;

}

.navigation__link--portfolio {
  position: relative;
}

.navigation__link--portfolio::after {
  content: "";
  position: absolute;
  width: 53px;
  height: 4px;
  background: var(--blue);
  border-radius: 2px;
  top: 45px;
  left: 2px;
}

.navigation-links {
  list-style: none;
  display: flex;
  justify-items: flex-end;
  flex-wrap: wrap;
  margin: 32px 0px 32px 345px;
  gap: 30px;
}

.navigation-links__icon {
  margin-right: 10px;
  fill: var(--gray);
}

.navigation-links__icon:hover,
.navigation-links__icon:focus {
  cursor: pointer;
  fill: var(--blue);
}

/*==========WRAPPER==========*/

.wrapper {
  width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(255, 255, 255, 0.1)
    ),
    url(../images/Img.jpg);
}

.wrapper__title {
  display: block;
  text-align: center;
  width: 696px;
  height: 120px;
  color: var(--white);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 200px 452px 30px 452px;
}

.main-btn {
  width: 200px;
  height: 50px;
  cursor: pointer;
  background: var(--blue);
  box-shadow: var(--shadows-1);
  border-radius: 4px;
  border: 0;
}

.main-btn--wrapper {
  margin-left: 700px;
  margin-bottom: 200px;
}

.main-btn__text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white);
}

/* =====Nasze atuty====== */

.section {
  padding: 94px 200px 94px;
}

.segment {
  width: 270px;
  height: 120px;
}

.segment:not(:last-child) {
  margin-right: 30px;
}

.segment__container {
  width: 270px;
  height: 120px;
  background: var(--bg-LightGray);
  border-radius: 4px;
}

.segment__container svg:hover,
.segment__container svg:focus {
  cursor: pointer;
  color: var(--blue);
}

.segment__container svg {
  padding: 25px 100px;
}

.small-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.small-title--lorem {
  width: 270px;
  height: 16px;
  padding-bottom: 10px;
  padding-top: 30px;
}

.small-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.small-text--lorem {
  width: 270px;
  height: 75px;
  color: var(--gray);
}

/* =====Czym się zajmujemy===== */

.middle-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.middle-title--activity {
  padding: 94px 409px 50px 409px;
}

.activity {
  width: 370px;
  height: 294px;
  background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
  mix-blend-mode: normal;
}

.activity:not(:last-child) {
  margin-right: 30px;
}

.label {
  position: absolute;
  width: 370px;
  height: 70px;
  background: var(--bg-TransparentBlack);
  display: block;
  top: 1498px;
}

.small-title--label {
  color: var(--white);
  margin-top: 27px;
  text-align: center;
}

/* =====Nasz zespół===== */

.bg-section {
  width: 1600px;
  height: 648px;
  background: var(--bg-LightGray);
  padding-bottom: 94px;
}

.middle-title--team {
  margin-bottom: 50px;
}

.team-card {
  width: 270px;
  height: 428px;
  background: var(--white);
  box-shadow: var(--shadows-2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 94px;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.team-card__name {
  width: 72px;
  height: 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-main);
  margin: 30px 99px 10px 99px;
}

.team-card__trade {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray);
}

.social-networks {
  width: 206px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.social-networks--team {
  margin: 16px 32px 18px 32px;
}

.social-networks__logo {
  fill: var(--fill-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-networks__logo:hover {
  cursor: pointer;
  background-color: var(--blue);
  fill: var(--white);
}

/* =====Nasi klienci===== */

.middle-title--clients {
  padding-bottom: 50px;
  margin: 0px;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__card {
  width: 170px;
  height: 92px;
  fill: var(--fill-gray);
  border: 1px solid var(--fill-gray);
  border-radius: 4px;
}

.clients__card:not(:last-child) {
  margin-right: 30px;
}

.clients__card:hover,
.clients__card:focus {
  cursor: pointer;
  border: 1px solid var(--blue);
  border-radius: 4px;
  fill: var(--blue);
}

.clients__card svg {
  margin: 17.71px 32px 14.25px 32px;
}

/* ==========Portfolio========== */

.btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 34px;
}

.secondary-btn {
  height: 38px;
  background: var(--bg-LightGray);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
}

.secondary-btn__text {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

.secondary-btn:hover {
  background: var(--blue);
  box-shadow: var(--shadows-ButtonDesign);
  color: var(--white);
}

.btn-list__button:nth-child(1) {
  width: 121px;
}

.btn-list__button:nth-child(2) {
  width: 93px;
}

.btn-list__button:nth-child(3) {
  width: 114px;
}

.btn-list__button:nth-child(4) {
  width: 91px;
}

.btn-list__button:nth-child(5) {
  width: 121px;
}

.btn-list__button:not(:last-child) {
  margin-right: 8px;
}

.categories {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.categories_card {
  padding-right: 30px;
  padding-bottom: 30px;
  width: 370px;
  height: 404px;
}

.categories_card:nth-child(3n) {
  padding-right: 0;
}

.categories__wrapper {
  box-sizing: border-box;
  border: 1px solid var(--category-border);
  width: 370px;
  height: 404px;
}

.categories__wrapper:hover {
  cursor: pointer;
  box-shadow: var(--shadows-category);
}

.categories__box {
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.categories__box:hover .categories__overlay {
  transform: translateY(0);
}

.categories__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-overlay);
  box-shadow: var(--box-shadow-overlay);
  transform: translateY(101%);
  transition: transform 250ms;
}

.categories__overlay > p {
  position: absolute;
  width: 301px;
  height: 196px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white);
  padding: 49px 45px 49px 24px;
}

.categories__title {
  width: 322px;
  height: 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-main);
  padding: 20px 24px 4px;
}

.categories__type {
  width: 322px;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--gray);
  margin: 4px 24px 20px;
}

/* =====FOOTER===== */

.footer {
  background: var(--bg-footer);
  display: flex;
}

.logo--footer {
  color: var(--white);
  display: block;
  margin: 60px 171px 20px 215px;
  width: 145px;
  height: 31px;
}

.contacts {
  margin: 20px 0px 60px 215px;
}

.contacts__element:not(:last-child) {
  margin-bottom: 9px;
}

.contacts__element--address {
  color: var(--white);
  font-style: normal;
}

.contacts__element--contact {
  color: var(--light-gray);
  text-decoration: none;
}

.contacts__element--contact:hover,
.contacts__element--contact:focus {
  color: var(--blue);
}

.social-links {
  width: 206px;
  height: 80px;
  margin: 72px 77px 100px 70px;
}

.small-title--footer {
  color: var(--white);
}

.social-networks--footer {
  margin-top: 20px;
}

.social-networks__logo--footer {
  background: var(--bg-foter-icon);
}

.social-networks__logo--footer:hover {
  cursor: pointer;
  background-color: var(--blue);
  fill: var(--white);
}

.newsletter {
  width: 570px;
  height: 86px;
  margin: 72px 215px 94px 77px;
  display: flex;
}

.main-btn--footer {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter__input {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  margin-right: 12px;
  border: 1px solid var(--foter-input-border);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--light-gray);
  padding-left: 16px;
}

.main-btn__text--footer {
  margin-right: 24px;
}

/* =======BACKDROP======= */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--white);
  border: 1px solid var(--close-btn-border);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background: var(--white);
  box-shadow: var(--shadows-2);
  border-radius: 4px;
}

/* MODAL FORM */

.modal__form {
  display: block;
  width: 448px;
  margin-left: 40px;
}

.modal__title {
  position: absolute;
  top: 26px;
  left: 40px;
  width: 448px;
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: var(--black-main);
}

.modal__label {
  display: block;
  width: 448px;
  height: 58px;
  box-sizing: border-box;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--gray);
}

.modal__label:nth-of-type(1) {
  position: absolute;
  top: 61px;
  left: 40px;
}

.modal__label:nth-of-type(2) {
  position: absolute;
  top: 129px;
  left: 40px;
}

.modal__label:nth-of-type(3) {
  position: absolute;
  top: 197px;
  left: 40px;
}

.modal__label:focus-within {
  fill: var(--blue);
}

.modal__input {
  position: absolute;
  top: 18px;
  left: 0;
  box-sizing: border-box;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid var(--modal-border);
  border-radius: 4px;
  outline: none;
}

.modal__input:hover,
.modal__imput:focus {
  border: 1px solid var(--blue);
}

.modal__icon {
  position: absolute;
  top: 32px;
  left: 13px;
}

.modal__textarea {
  position: absolute;
  top: 265px;
  left: 40px;
  width: 448px;
  height: 138px;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--gray);
}

.modal__comment {
  position: absolute;
  top: 18px;
  left: 0;
  box-sizing: border-box;
  width: 448px;
  height: 120px;
  border: 1px solid var(--modal-border);
  border-radius: 4px;
  padding: 12px 16px;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--comment-color);
  resize: none;
  outline: none;
}

.modal__comment:hover,
.modal__comment:focus {
  border: 1px solid var(--blue);
}

.modal__checkbox {
  position: absolute;
  top: 423px;
  left: 79px;
  width: 395px;
  height: 24px;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--gray);
  cursor: pointer;
}

.modal__checkbox::before {
  position: absolute;
  left: -24px;
  top: 1px;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid var(--black-main);
  border-radius: 2px;
}

.modal-checkbox:checked + .modal__checkbox::before {
  background: var(--blue);
  border: 2px solid var(--blue);
}

.checkbox-icon {
  position: absolute;
  top: 5px;
  left: -22px;
}

.modal__links {
  color: var(--blue);
}

.main-btn--form {
  position: absolute;
  left: 164px;
  top: 491px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
