.wrapper {
  width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(255, 255, 255, 0.1)
    ),
    url(../images/Img.jpg);
}
.wrapper__title {
  display: block;
  text-align: center;
  width: 696px;
  height: 120px;
  color: var(--white);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 200px 452px 30px 452px;
}
.main-btn--wrapper {
  margin-left: 700px;
  margin-bottom: 200px;
}